.footer {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 15px;
     padding: 25px 10px;
     background: linear-gradient(180deg, #fde1ff 0%, #e1ffea 100%);
 }

 .footer-logo {
     display: flex;
     align-items: center;
     gap: 15px;
 }

 .footer-logo img {
     width: 70px;
     height: 70px;
     border-radius: 50%;
     object-fit: cover;
 }

 .footer-logo p {
     font-size: 38px;
     font-weight: 700;
     color: #000;
 }

 .footer-links {
     display: flex;
     list-style: none;
     gap: 30px;
     font-size: 18px;
 }

 .footer-links li {
     cursor: pointer;
     transition: 0.3s;
 }

 .footer-links li:hover {
     color: #648bf7;
 }

 .footer-social-icon {
     display: flex;
     gap: 18px;
 }

 .footer-icon-container {
     width: 40px;
     height: 40px;
     display: flex;
     justify-content: center;
     align-items: center;
     background: #b2f3f5;
     border-radius: 50%;
     cursor: pointer;
     transition: 0.3s;
 }

 .footer-icon-container:hover {
     background: #5fb1f3;
     color: white;
     transform: scale(1.1);
 }

 .footer-copyright {
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 15px;
 }

 .footer-copyright hr {
     width: 80%;
     height: 2px;
     border: none;
     background: #c7c7c7;
 }

 .footer-copyright p {
     font-size: 18px;
 }

 
 @media (max-width:768px) {

     .footer-links {
         flex-wrap: wrap;
         justify-content: center;
         gap: 20px;
     }

     .footer-logo p {
         font-size: 30px;
     }

     .footer-copyright p {
         font-size: 16px;
     }

 }


 @media (max-width:480px) {

     .footer {
         gap: 20px;
         text-align: center;
     }

     .footer-logo img {
         width: 55px;
         height: 55px;
     }

     .footer-logo p {
         font-size: 24px;
     }

     .footer-links {
         flex-direction: column;
         align-items: center;
         gap: 12px;
         font-size: 16px;
     }

     .footer-social-icon {
         gap: 12px;
     }

     .footer-icon-container {
         width: 35px;
         height: 35px;
     }

     .footer-copyright p {
         font-size: 14px;
     }

 }